################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PasswordUpdaterJob/bin/Debug/net7.0
/.vs/PasswordUpdaterJob/FileContentIndex
/PasswordUpdaterJob/obj
